<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>民航GNSS导航卫星完好性监测系统V1.0.0</title>
    <link rel="stylesheet" href="./css/layui.css"/>
</head>
<body>
<div class="layui-layout layui-layout-admin">

    <div class="layui-side layui-bg-black" th:fragment="aboutleftpanel">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <div class="left">
                <div class="box_1">
                    <div class="left_title"><div class="left_title_info"  > RAIM预测</div></div>
                    <div class="left_news">
                        <table width="200" border="0" cellpadding="0" cellspacing="0" align="center" style="float:left;">
                            <tr>
                                <td style="height: 25px;color:#5A8FD7; background-color: rgb(90, 143, 215);" onmouseout="this.style.backgroundColor='#5A8FD7';" onmouseover="this.style.backgroundColor='#FF9900'">
                                    <div align="center"  class="LlinkMenu"><img src="image/bullet_sarrow.gif" width="10" height="10"/>&nbsp;<a href="about.html">网站地图</a></div></td>
                            </tr>
                            <tr>
                                <td height="1" background="image/bit.gif"></td>
                            </tr>
                            <tr>
                                <td style="height: 25px;color:#5A8FD7; background-color: rgb(90, 143, 215);" onmouseout="this.style.backgroundColor='#5A8FD7';" onmouseover="this.style.backgroundColor='#FF9900'">
                                    <div align="center" class="LlinkMenu"><img src="image/bullet_sarrow.gif" width="10" height="10"/>&nbsp;<a href="service.html">服务条款</a></div></td>
                            </tr>
                            <tr>
                                <td height="1" background="image/bit.gif"></td>
                            </tr>
                            <tr>
                                <td style="height: 25px;color:#5A8FD7; background-color: rgb(90, 143, 215);" onmouseout="this.style.backgroundColor='#5A8FD7';" onmouseover="this.style.backgroundColor='#FF9900'">
                                    <div align="center" class="LlinkMenu"><img src="image/bullet_sarrow.gif" width="10" height="10"/>&nbsp;<a href="copyright.html">版权声明</a></div></td>
                            </tr>
                            <tr>
                                <td height="1" background="image/bit.gif"></td>
                            </tr>
                            <tr>
                                <td style="height: 25px;color:#5A8FD7; background-color: rgb(90, 143, 215);" onmouseout="this.style.backgroundColor='#5A8FD7';" onmouseover="this.style.backgroundColor='#FF9900'">
                                    <div align="center" class="LlinkMenu"><img src="image/bullet_sarrow.gif" width="10" height="10"/>&nbsp;<a href="contact.html">联系我们</a></div></td>
                            </tr>
                            <tr>
                                <td height="1" background="image/bit.gif"></td>
                            </tr>
                            <tr>
                                <td style="height: 25px;color:#5A8FD7; background-color: rgb(90, 143, 215);" onmouseout="this.style.backgroundColor='#5A8FD7';" onmouseover="this.style.backgroundColor='#FF9900'">
                                    <div align="center" class="LlinkMenu"><img src="image/bullet_sarrow.gif" width="10" height="10"/>&nbsp;<a href="guest.html">用户留言</a></div></td>
                            </tr>
                            <tr>
                                <td height="1" background="image/bit.gif"></td>
                            </tr>
                            <tr>
                                <td style="height: 25px;color:#5A8FD7; background-color: rgb(90, 143, 215);" onmouseout="this.style.backgroundColor='#5A8FD7';" onmouseover="this.style.backgroundColor='#FF9900'">
                                    <div align="center" class="LlinkMenu"><img src="image/bullet_sarrow.gif" width="10" height="10"/>&nbsp;<a href="systemnoticeList.html">公告列表</a></div></td>
                            </tr>
                            <tr>
                                <td height="1" background="image/bit.gif"></td>
                            </tr>
                            <tr>
                                <td>
                                    <table class="lefttable1" width="200" border="0" cellpadding="0" cellspacing="0" align="center">
                                        <tr>
                                            <td></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>