<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head id="Head1"><title>
    系统概述-民航GNSS导航卫星完好性监测系统
</title>
    <style type="text/css">
        .tit2
        {
            font-weight: 700;
            font-size: small;
        }
        .style2
        {
            font-weight: normal;
            font-size: small;
        }

        .left_title
        {
            vertical-align:bottom;
            text-align:center;
            line-height:30px;
        }


    </style>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <!--<link href="../bootstrap/css/bootstrap.css" rel="stylesheet" />-->
    <script src="../js/menu.js" type="text/javascript"></script>
    <script src="../js/main_nav.js" type="text/javascript"></script>
    <script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/css.css" />
    <!--<link rel="stylesheet" href="../css/layui.css"/>-->
    <script src="../js/layui.js" type="text/javascript"></script>
    <script src="../js/header.js" type="text/javascript"></script>
    <link rel="stylesheet" href="../css/validatorAuto.css" type="text/css"/>
    <script src="../js/formValidator-4.0.1.js" charset="UTF-8" type="text/javascript"></script>
    <script src="../js/formValidatorRegex.js" charset="UTF-8" type="text/javascript"></script>
    <script src="../js/userRegister.js" charset="UTF-8" type="text/javascript"></script>

    <script type="text/javascript">
        //<![CDATA[
        var theForm = document.forms['form1'];
        if (!theForm) {
            theForm = document.form1;
        }
        function __doPostBack(eventTarget, eventArgument) {
            if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
                theForm.__EVENTTARGET.value = eventTarget;
                theForm.__EVENTARGUMENT.value = eventArgument;
                theForm.submit();
            }
        }
        //]]>
    </script>

    <script type="text/javascript" language="javascript">

        function Reset() { window.location.href = "userRegister.aspx"; setTimeout("Reset()", 10000); }

        var xmlHttp;
        function CheckUser() {
            try {
                xmlHttp = new ActiveXObject("Msxml2.XMLHTTP");
            }
            catch (err1) {
                try {
                    xmlHttp = new ActiveXObject("Microsoft.XMLHTTP");
                }
                catch (err2) {
                    xmlHttp = new XMLHttpRequest();
                }
            }
            var txtUser = document.getElementById("txtLoginName");

            if (txtUser.value == "")
                return;

            var url = "chkuser.ashx?User=" + txtUser.value;
            xmlHttp.open("GET", url, true);
            xmlHttp.onreadystatechange = OnHandler;
            xmlHttp.send(null);

        }

        function OnHandler() {

            if (xmlHttp.readyState == 4) {
                var display = "";
                var txtUser = document.getElementById("txtLoginName");
                if (xmlHttp.responseText == "Y") {

                    display = txtUser.value + "已有人注册";
                    document.getElementById("divNameError").innerHTML = display;
                    document.getElementById("divNameError").style.color = "red";
                    document.getElementById("txtLoginName").focus();
                }
                else {
                    //                        display = txtUser.value + "无人注册";
                    document.getElementById("divNameError").innerHTML = "";
                    //                        document.getElementById("divNameError").style.color = "Green";
                }

            }
        }
        function getBytesCount(objects, count) {
            var id = objects.id;
            var str = document.getElementById(id).value
            var bytesCouont = 0;
            if (str != null) {
                for (var i = 0; i &lt; str.length; i++) {
                    var c = str.charAt(i);
                    if (/^[\u0000-\u00ff]$/.test(c)) {
                        bytesCouont += 1;
                    }
                    else {
                        bytesCouont += 2;
                    }
                }
            }
            if (bytesCouont > count) {
                document.getElementById("divErrorinfo").innerHTML = "内容不得超过" + count + "字节";
                document.getElementById("divErrorinfo").style.color = "red";
                document.getElementById(id).focus();
            }
            else if (bytesCouont == 0 &amp;&amp; id == "txtLoginName") {
                document.getElementById("divNameError").innerHTML = "用户名不可为空";
            }
            else {
                document.getElementById("divErrorinfo").innerHTML = "";
            }
        }
        //表单验证
        $(document).ready(function () {
//            $.formValidator.initConfig({ formID: "form1", autoTip: true, onError: function (msg) { alert(msg) }, inIframe: true });
            $.formValidator.initConfig({ formID: "form1", autoTip: true, inIframe: true });
            $("#tbPassword1").formValidator({ onShow: "至少1个长度", onFocus: "至少1个长度", onCorrect: "密码合法" }).inputValidator({ min: 1, max: 20, empty: { leftEmpty: false, rightEmpty: false, emptyError: "密码两边不能有空符号" }, onError: "密码不能为空" });
            $("#tbPassword2").formValidator({ onShow: "至少1个长度", onFocus: "至少1个长度", onCorrect: "密码一致" }).inputValidator({ min: 1, max: 20, empty: { leftEmpty: false, rightEmpty: false, emptyError: "重复密码两边不能有空符号" }, onError: "重复密码不能为空" }).compareValidator({ desID: "tbPassword1", operateor: "=", onError: "两次密码不一致" });

            $("#tbTrueName").formValidator({ onShow: "至少1个最多20个字符", onFocus: "至少1个最多20个字符", onCorrect: "输入正确" }).inputValidator({ min: 1, max: 20, onError: "内容过长或为空" });
            $("#tbUnit").formValidator({ onShow: "至少1个最多50个字符", onFocus: "至少1个最多50个字符", onCorrect: "输入正确" }).inputValidator({ min: 1, max: 50, onError: "内容过长或为空" });
            $("#txtTitle").formValidator({ empty: true, onShow: "最多50个字符或为空", onFocus: "最多50个字符或为空", onCorrect: "输入正确", onEmpty: "输入的工作职务为空" }).inputValidator({ min: 0, max: 50, onError: "输入的内容过长" });
            $("#tbPhoneNamber").formValidator({ empty: false, onShow: "至少1个最多20个字符", onFocus: "至少1个最多20个字符", onCorrect: "输入正确" }).inputValidator({ min: 1, max: 20, onError: "内容过长或为空" }).regexValidator({ regExp: "^[[0-9]{3}-|\[0-9]{4}-]?([0-9]{8}|[0-9]{7})?$", onError: "电话号码格式不正确" });
            $("#tbMobleNamber").formValidator({ empty: true, onShow: "11位手机号码", onFocus: "11位手机号码", onCorrect: "输入正确", onEmpty: "输入内容为空！" }).regexValidator({ regExp: "1[0-9]{10}", onError: "输入的手机号码不正确" }).inputValidator({ max: 11, onError: "输入的内容过长" });
//            $("#tbPhoneNamber").formValidator({ empty: false, onShow: "请输入你的电话，可以为空", onFocus: "填入手机或座机号码", onCorrect: "谢谢你的合作", onEmpty: "你留的电话号码为空！" }).regexValidator({ regExp: ["mobile"], dataType: "enum", onError: "你输入的电话格式不正确" });
//            $("#tbMobleNamber").formValidator({ empty: false, onShow: "请输入你的手机号码", onFocus: "11位手机号码", onCorrect: "谢谢你的合作", onEmpty: "你留的联系电话为空！" }).regexValidator({ regExp: "1[0-9]{10}", onError: "你输入的手机号码不正确" }).inputValidator({ max: 11, onError: "你输入的内容过长" });



//            $("#tbMobleNamber").formValidator({ empty: false, onShow: "请输入你的手机号码", onCorrect: "你的的手机号码正确" }).regexValidator({ regExp: "intege1", dataType: "enum", onError: "正整数格式不正确" });
//            $("#tbPhoneNamber").formValidator({ empty: true, onShow: "请输入你的电话，可以为空哦", onFocus: "格式例如：0577-88888888", onCorrect: "谢谢你的合作", onEmpty: "你真的不想留电话了吗？" }).regexValidator({ regExp: ["mobile"], dataType: "enum", onError: "你输入的电话格式不正确" });
//            $("#tbMobleNamber").formValidator({ empty: false, onShow: "请输入你的手机号码", onFocus: "11位手机号码", onCorrect: "谢谢你的合作", onEmpty: "你真的不想留联系电话了吗？" }).regexValidator({ regExp: "^[[0-9]{3}-|\[0-9]{4}-]?([0-9]{8}|[0-9]{7})?$", onError: "你输入的联系电话格式不正确" });

//            $("#tbPhoneNamber").formValidator({ onShow: "格式:XXXX-88888888或省略区号88888888", onfocus: "例如：0577-88888888或省略区号88888888", onCorrect: "谢谢你的合作，你的国内电话正确" }).regexValidator({ regExp: "tel", dataType: "enum", onError: "国内电话格式不正确" });
//            $("#tbMobleNamber").formValidator({ onShow: "请输入你的手机号码", onfocus: "必须是13或15打头哦", onCorrect: "谢谢你的合作，你的手机号码正确" }).regexValidator({ regExp: "mobile", dataType: "enum", onError: "手机号码格式不正确" });
//            defaultValue: ""

            $("#tbAdress").formValidator({ empty: false, onShow: "最多100个字符", onFocus: "最多100个字符", onCorrect: "输入正确" }).inputValidator({ min: 1, max: 100, onError: "地址不能为空或内容过长" });

            $("#txtZip").formValidator({ empty: true, onShow: "由6位数字组成", onfocus: "由6位数字组成", onCorrect: "输入正确", onEmpty: "输入内容为空！" }).regexValidator({ regExp: "zipcode", dataType: "enum", onError: "邮编格式不正确" });
            $("#tbEmaill").formValidator({ empty: true, onShow: "输入合法邮箱地址或为空", onfocus: "输入合法邮箱地址或为空", onCorrect: "输入正确", onEmpty: "输入内容为空！" }).inputValidator({ min: 6, max: 100, onError: "输入的邮箱长度非法" }).regexValidator({ regExp: "^([\\w-.]+)@(([[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}.)|(([\\w-]+.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(]?)$", onError: "输入的邮箱格式不正确" });
            $.formValidator.reloadAutoTip();
        });


    </script>
</head>
<body>
<!--@thymesVar id="username" type="java.lang.String"-->
<input type="hidden" th:value="${username}" id="loginname">
<form method="post" action="userRegister.html" id="form1">
    <div class="aspNetHidden">
        <input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
        <input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
        <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwULLTE2MDk5MjA0NjIPZBYCAgMPZBYCAgMPZBYMZg8PFgIeBFRleHQFGzIwMTflubQxMeaciDI05pelIOaYn+acn+S6lGRkAgEPDxYCHwAFEOiuv+mXruaAu+mHjzoyMzJkZAICDxYCHgdWaXNpYmxlaGQCAw8WAh8BaGQCBA8PFgQfAAUN6KGM5Lia55So5oi3Oh8BZ2RkAgUPDxYCHwAFBGduc3NkZGRNFy7CBuT0hnkDDcW/Dts54Eo0Pf6Jx++QCiPFiNgJZA==" />
    </div>
    <div class="aspNetHidden">
        <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEWAwLuytyZDwKyuOrTDwL2iKyTBVunbt11mSnvAVHpwzTfWhTHlHvq5CE+YeOFdKE0anT4" />
    </div>
    <div class="zhong">
        <div th:replace="header :: header"></div>
        <div class="main">
            <div th:replace="raimleftpanel :: raimleftpanel"></div>
            <div class="right">
                <div class="daohang">
                    <span>用户注册</span></div>
                <div class="xiangqing">
                    <table width="440" style="margin: 20px;" border="0" cellspacing="0" cellpadding="0"
                           align="center">
                        <tr>
                            <td class="p11" valign="bottom">
                                <font color="#FF6699">*</font>权限审批过程中需要与用户进行身份核实，望用户仔细填写以下内容
                            </td>
                        </tr>
                    </table>

                    <br/>
                    <table width="440" border="0" cellspacing="0" cellpadding="0" align="center">
                        <tr>
                            <td colspan="2">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" >
                                    <tr>
                                        <td width="111" class="p11">
                                            <div align="right">
                                                用户：</div>
                                        </td>
                                        <td width="207" class="p11">
                                            &nbsp;<input name="loginname" type="text" id="txtLoginName" style="width: 150px" onblur="CheckUser();getBytesCount(this,50)" maxlength="50" />
                                            <span style="color: Red;">*</span>
                                        </td>
                                        <td width="207" class="p11" style=" color:Red">
                                            <div id="divNameError">

                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="111" class="p11">
                                            <div align="right">
                                                密码：</div>
                                        </td>
                                        <td width="207" class="p11">
                                            &nbsp;<input name="password" type="password" id="tbPassword1" style="width: 150px" maxlength="50" />
                                            <span style="color: Red;">* </span>

                                        </td>
                                        <td width="207" class="p11">
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="111" class="p11">
                                            <div align="right">
                                                确认密码：</div>
                                        </td>
                                        <td width="207" class="p11">
                                            &nbsp;<input name="tbPassword2" type="password" id="tbPassword2" style="width: 150px" maxlength="50" />
                                            <span style="color: Red;">*</span>
                                        </td>
                                        <td width="207" class="p11">
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="111" class="p11">
                                            <div align="right">
                                                真实姓名：</div>
                                        </td>
                                        <td width="207" class="p11">
                                            &nbsp;<input name="username" type="text" id="tbTrueName" style="width: 150px" maxlength="50" />
                                            <span style="color: Red;">*</span>
                                        </td>
                                        <td width="207" class="p11">
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="111" height="29" class="p11">
                                            <div align="right">
                                                工作单位：</div>
                                        </td>
                                        <td width="207" height="29" class="p11">
                                            &nbsp;<input name="company" type="text" id="tbUnit" style="width: 150px" maxlength="100" />
                                            <span style="color: Red;">*</span>
                                        </td>
                                        <td width="207" height="29" class="p11">
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="111" height="28" class="p11">
                                            <div align="right">
                                                工作职务：</div>
                                        </td>
                                        <td width="207" height="28" class="p11">
                                            &nbsp;<input name="job" type="text" id="txtTitle" style="width: 150px" maxlength="100" />
                                        </td>
                                        <td width="207" height="28" class="p11">
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="111" height="28" class="p11">
                                            <div align="right">
                                                电话号码：</div>
                                        </td>
                                        <td width="207" height="28" class="p11">
                                            &nbsp;<input name="telephone" type="text" id="tbPhoneNamber" style="width: 150px" maxlength="20" />
                                            <span style="color: Red;">*</span>
                                        </td>
                                        <td width="207" height="28" class="p11">
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="111" height="28" class="p11">
                                            <div align="right">
                                                手机号码：</div>
                                        </td>
                                        <td width="207" height="28" class="p11">
                                            &nbsp;<input name="mobile" type="text" id="tbMobleNamber" style="width: 150px" onblur="getBytesCount(this,20)" maxlength="15" />&nbsp;
                                        </td>
                                        <td width="207" height="28" class="p11">

                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="111" height="28" class="p11">
                                            <div align="right">
                                                <span>地址</span>：</div>
                                        </td>
                                        <td width="207" height="28" class="p11">
                                            &nbsp;<input name="address" type="text" id="tbAdress" style="width: 150px" maxlength="200" />
                                            <span style="color: Red;">*</span>
                                        </td>
                                        <td width="207" height="28" class="p11">
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="111" height="28" class="p11">
                                            <div align="right">
                                                邮编：</div>
                                        </td>
                                        <td width="207" height="28" class="p11">
                                            &nbsp;<input name="zip" type="text" id="txtZip" style="width: 150px" onblur="getBytesCount(this,20)" maxlength="20" />
                                        </td>
                                        <td width="207" height="28" class="p11">

                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="111" height="28" class="p11">
                                            <div align="right">
                                                EMAIL：</div>
                                        </td>
                                        <td width="207" height="28" class="p11">
                                            &nbsp;<input name="mail" type="text" id="tbEmaill" style="width: 150px" maxlength="50" />&nbsp;
                                        </td>
                                        <td width="207" height="28" class="p11">

                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <div align="center">
                                                &nbsp;<input type="button" name="btRegister" value="注册" id="btRegister" onclick="userRegister();"/>
                                                &nbsp;


                                                <input type="submit" name="btn_Reset" value="重填" onclick="Reset();" id="btn_Reset" />
                                            </div>
                                        </td>
                                        <td>
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="text-align: center;">
                                            <div id="divErrorinfo" style="float: right;">
                                            </div>
                                        </td>
                                        <td>
                                            <span id="Label1" style="color:#CC0000;">*项为必填项</span>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div th:replace="footer :: footer"></div>
        </div>
    </div>
</form>
</body>
</html>