<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="${session.username}"></p>
<table>
    <tr>
        <th>用户名</th>
        <th>密码</th>
    </tr>
    <!--@thymesVar id="userList" type="java.util.List"-->
    <tr th:each="user : ${userList}">
        <!--@thymesVar id="username" type="-->
        <!--@thymesVar id="username" type="java.lang.String"-->
        <td th:utext="${user.username}"></td>
        <!--@thymesVar id="username" type="java.lang.String"-->
        <td th:utext="${user.password}"></td>
    </tr>
</table>

</body>
</html>