<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head id="Head1"><title>
    系统概述-民航GNSS导航卫星完好性监测系统
</title>
    <style type="text/css">
        .tit2
        {
            font-weight: 700;
            font-size: small;
        }
        .style2
        {
            font-weight: normal;
            font-size: small;
        }

        .left_title
        {
            vertical-align:bottom;
            text-align:center;
            line-height:30px;
        }


    </style>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <!--<link href="../bootstrap/css/bootstrap.css" rel="stylesheet" />-->
    <script src="../js/menu.js" type="text/javascript"></script>
    <script src="../js/main_nav.js" type="text/javascript"></script>
    <script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/css.css" />
    <!--<link rel="stylesheet" href="../css/layui.css"/>-->
    <script src="../js/layui.js"></script>
    <script src="../js/header.js"></script>

    <script type="text/javascript">
        //<![CDATA[
        var theForm = document.forms['form1'];
        if (!theForm) {
            theForm = document.form1;
        }
        function __doPostBack(eventTarget, eventArgument) {
            if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
                theForm.__EVENTTARGET.value = eventTarget;
                theForm.__EVENTARGUMENT.value = eventArgument;
                theForm.submit();
            }
        }
        //]]>
    </script>
</head>
<body>
<input type="hidden" th:value="${loginname}" id="loginname">
<form method="post" action="airPort.html" id="form1">
    <div class="aspNetHidden">
        <input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
        <input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
        <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwULLTE2MDk5MjA0NjIPZBYCAgMPZBYCAgMPZBYMZg8PFgIeBFRleHQFGzIwMTflubQxMeaciDI05pelIOaYn+acn+S6lGRkAgEPDxYCHwAFEOiuv+mXruaAu+mHjzoyMzJkZAICDxYCHgdWaXNpYmxlaGQCAw8WAh8BaGQCBA8PFgQfAAUN6KGM5Lia55So5oi3Oh8BZ2RkAgUPDxYCHwAFBGduc3NkZGRNFy7CBuT0hnkDDcW/Dts54Eo0Pf6Jx++QCiPFiNgJZA==" />
    </div>
    <div class="aspNetHidden">
        <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEWAwLuytyZDwKyuOrTDwL2iKyTBVunbt11mSnvAVHpwzTfWhTHlHvq5CE+YeOFdKE0anT4" />
    </div>
    <div class="zhong">
        <div th:replace="header :: header"></div>
        <div class="main">
            <div th:replace="raimleftpanel :: raimleftpanel"></div>
            <div class="right">
                <div class="daohang">
                    <span></span>注册用户状态信息</div>
                <div class="xiangqing">
                    <br />
                    <table width="440" border="0" cellspacing="0" cellpadding="0" align="center">
                        <tr>
                            <td colspan="2">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" height="170">
                                    <tr>
                                        <td width="111" class="p11">
                                            <div align="right">
                                                用户名：</div>
                                        </td>
                                        <td width="207" class="p11">
                                            &nbsp;
                                            <span id="lbLoginName" th:text="${loginname}"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="111" class="p11">
                                            <div align="right">
                                                真实姓名：</div>
                                        </td>
                                        <td width="207" class="p11">
                                            &nbsp;
                                            <span id="lbuserName" th:text="${username}"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="111" height="29" class="p11">
                                            <div align="right">
                                                工作单位：</div>
                                        </td>
                                        <td width="207" height="29" class="p11">
                                            &nbsp;
                                            <span id="lbunit" th:text="${company}"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="111" height="28" class="p11">
                                            <div align="right">
                                                工作职务：</div>
                                        </td>
                                        <td width="207" height="28" class="p11">
                                            &nbsp;
                                            <span id="lbtitle" th:text="${job}"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="111" height="28" class="p11">
                                            <div align="right">
                                                电话号码：</div>
                                        </td>
                                        <td width="207" height="28" class="p11">
                                            &nbsp;
                                            <span id="lbphone" th:text="${telephone}"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="111" height="28" class="p11">
                                            <div align="right">
                                                手机号码：</div>
                                        </td>
                                        <td width="207" height="28" class="p11">
                                            &nbsp;
                                            <span id="lbmoble" th:text="${mobile}"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="111" height="28" class="p11">
                                            <div align="right">
                                                地址：</div>
                                        </td>
                                        <td width="207" height="28" class="p11">
                                            &nbsp;
                                            <span id="lbaddress" th:text="${address}"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="111" height="28" class="p11">
                                            <div align="right">
                                                邮编：</div>
                                        </td>
                                        <td width="207" height="28" class="p11">
                                            &nbsp;
                                            <span id="lbzip" th:text="${zip}"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="111" height="28" class="p11">
                                            <div align="right">
                                                EMAIL：</div>
                                        </td>
                                        <td width="207" height="28" class="p11">
                                            &nbsp;
                                            <span id="lbEmail" th:text="${mail}"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="111" height="28" class="p11">
                                            <div align="right">
                                                注册日期：</div>
                                        </td>
                                        <td width="207" height="28" class="p11">
                                            &nbsp;
                                            <span id="lbRegdate" th:text="${regdate}"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="111" height="28" class="p11">
                                            <div align="right">
                                                用户名类型：</div>
                                        </td>
                                        <td width="207" height="28" class="p11">
                                            &nbsp;
                                            <span id="lbuserType" th:text="${usertype}"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="111" height="28" class="p11">
                                            <div align="right">
                                                审批状态：</div>
                                        </td>
                                        <td width="207" height="28" class="p11">
                                            &nbsp;
                                            <span id="lbAR" style="color:Green;" th:text="${auditresult}"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <div align="center">
                                                &nbsp;&nbsp;
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="text-align: center; color: Blue;">
                                            <a href="/userUpdate">修改个人信息</a> &nbsp;&nbsp; <a href="/updatePass">
                                            修改密码</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div th:replace="footer :: footer"></div>
        </div>
    </div>
</form>
</body>
</html>